* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #ff6a00, #ff3e00);
    /* Fundo chamativo */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 100vh;
}

.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    transition: transform 0.2s;
    font-family: 'Montserrat', sans-serif;
}

.container:hover {
    transform: translateY(-5px);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}

h2 {
    margin-bottom: 15px;
    color: #333;
    font-weight: 600;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input,
select,
textarea,
button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #ff6a00;
    box-shadow: 0 0 5px rgba(255, 106, 0, 0.6);
}

button {
    background-color: #ff6a00;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 12px;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #e55d00;
    transform: translateY(-2px);
}

button:focus {
    outline: 2px solid #e55d00;
    outline-offset: 2px;
}

::placeholder {
    color: #aaa;
    opacity: 1;
}


div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

div label {
    color: #333;
    font-size: 14px;
}


@media (max-width: 500px) {
    .container {
        width: 90%;
    }
}


#successMessage {
    padding: 20px;
    background-color: #d4edda;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 20px auto;
    font-size: 18px;
    text-align: center;
    color: #28a745;
}